version: 2.1

jobs:
  build:
    working_directory: ~/chiffreromain
    docker:
      - image: maven:3.6.3-jdk-11
    steps:
      - checkout
      - run: mvn test
  deploy:
    working_directory: ~/chiffreromain
    docker:
      - image: maven:3.6.3-jdk-11
    steps:
      - checkout
      - run: mvn install
  merge:
    working_directory: ~/project
    steps:
      - run: git checkout main
      - run: git merge --no-ff origin/${{CIRCLE_BRANCH}}
      - run: git push origin main

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
      - merge:
          requires:
            - build
            - deploy