version: 2.1

jobs:
  build:
    working_directory: ~/chiffreromain
    docker:
      - image: maven:3.6.3-jdk-11
    steps:
      - checkout
      - run: cd test
      - run: mvn test
  deploy:
    working_directory: ~/chiffreromain
    docker:
      - image: maven:3.6.3-jdk-11
    steps:
      - checkout
      - run: mvn install
  merge:
    working_directory: ~/chiffreromain
    docker:
      - image: maven:3.6.3-jdk-11
    steps:
      - checkout
      - run: ls
      - run: pwd
      - run: git init
      - run: git branch -a
      - run: git checkout main
      - run: git merge dev
      - run: git push origin/main

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
      - merge:
          requires:
            - deploy